<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <meta name="theme-color" content="#111111" />
  <title>New Site</title>
  <link
    rel="preload"
    href="fonts/Muller200.woff"
    as="font"
    type="font/woff"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/MullerRegular.woff"
    as="font"
    type="font/woff"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/Muller700.woff"
    as="font"
    type="font/woff"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/Muller200.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/MullerRegular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/Muller700.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link rel="stylesheet" href="css/vendor.css" />
  <link rel="stylesheet" href="css/main.css" />
  <script defer src="js/main.js"></script>
</head>
